<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Data Hasil Sidang</h6>
    </div>
    <div class="card-body">
        <input type="button" value="Download Excel" class="btn btn-primary" id="downloadtoexcel" />
        @*<input type="button" value="Generate Word" class="btn btn-primary" onclick="location.href='@Url.Action("CreateDocument", "ExportWord")'" />*@
    </div>
</div>
<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
     $("#downloadtoexcel").click(function () {
             window.location = '@Url.Action("DownloadToExcel2", "ExportWord")';

         });
</script>