
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <title>::Login::</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="~/Images/kemenag.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/LoginForm/css/style.css" rel="stylesheet" />
    <script src="~/Content/dist/sweetalert2.all.min.js"></script>
</head>
<body class="img js-fullheight" style="background-image: url('/Images/Background_SIMHUKDIS.jpg');">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-start">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section"></h2>
                </div>
            </div>
            <div class="row justify-content-sm-start">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">

                        <form action="#" class="signin-form">
                            
                            <div>
                                <label style="height:100px;"></label>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="NIP" required id="NIP">
                            </div>
                            <div class="form-group">
                                <input id="Password" type="password" class="form-control" placeholder="Password" required>
                                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                            <div class="form-group">
                                <input type="button" class="form-control btn btn-primary submit px-3" onclick="Login()" value="Login" />
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="~/Content/LoginForm/js/jquery.min.js"></script>
    <script src="~/Content/LoginForm/js/popper.js"></script>
    <script src="~/Content/LoginForm/js/bootstrap.min.js"></script>
    <script src="~/Content/LoginForm/js/main.js"></script>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $("#Password").keyup(function(event) {
            if (event.keyCode === 13) {
                Login();
            }
        });
        function Login() {

            var dpObj = {
                NIP: $('#NIP').val(),
                Password: $('#Password').val()
            };
            $.ajax({
                url: "/Home/Login",
                data: JSON.stringify(dpObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result.toString() == "Success") {
                        Swal.fire({
                            icon: 'success',
                            title: 'Login Berhasil',
                            showConfirmButton: false,
                            timer: 5000
                        })
                        window.location.href = '@Url.Action("Index", "Home")'
                    }
                    else {
                        if (result.toString() == "NIP is empty!") {
                            $("#NIP").val("");
                            $("#NIP").focus();
                            Swal.fire({
                                icon: 'warning',
                                title: 'Masukkan username / NIP ! !',
                                showConfirmButton: false,
                                timer: 5000
                            })
                            //swal({
                            //    title: "Please input NIP!",
                            //    icon: "error",
                            //    timer: 1500,
                            //});
                        }
                        else if (result.toString() == "Password is empty!") {
                            $("#Password").val("");
                            $("#Password").focus();
                            Swal.fire({
                                icon: 'warning',
                                title: 'Masukkan Password ! !',
                                showConfirmButton: false,
                                timer: 1500
                            })
                            //swal({
                            //    title: "Please input Password!",
                            //    icon: "error",
                            //    timer: 1500,
                            //});
                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                title: result.toString(),
                                showConfirmButton: false,
                                timer: 5000
                            })
                            //swal({
                            //    title: result.toString(),
                            //    icon: "error",
                            //    button: "Ok",
                            //    timer: 1500,
                            //});
                        }

                    }

                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    </script>
</body>
</html>

